<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <main>
        <div class="moda" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Listing</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="title" id="title-label">Title</label>
                            <input id="title" type="input" name="title">

                            <label for="description" id="description-label">Description</label>
                            <input id="description" type="input" name="description">

                            <label for="price" id="price-label">Start price</label>
                            <input id="price" type="number" name="price">

                            
                    
                            
                      

                        </div>
                        <div>
                            <div>
                                <img src="/images/pexels-mertal-22487122_optimized.jpg" alt="">
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Listing</button>
                    </div>
                </div>
            </div>

        </div>

    </main>


</html>