
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    </head>
    <main>
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Title</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="input-group mb-3">
                                <button class="btn btn-outline-secondary" type="button">-</button>
                                <input type="text" class="form-control" placeholder="100" aria-label="amount" aria-describedby="button-amount">
                                <button class="btn btn-outline-secondary" type="button">+</button>

                            </div>
                        </div>
                        <hr>
                        <div>
                            <div>
                                <p>Auksjonsgebyr</p>
                                <p>3 USD</p>
                            </div>
                            <div>
                                <p>Shipping</p>
                                <p>5 USD</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Place Bid</button>
                    </div>
                </div>
            </div>

        </div>

    </main>


</html>